<a href="https://colab.research.google.com/github/bhargav-1rv16cs097/DSML-lab/blob/main/lab_prog1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
from sklearn.linear_model import LinearRegression
import os
import statsmodels.api as sm
import seaborn as sns

Dataloading

In [15]:
data = pd.read_csv('housing.csv')
data.head(5)

      CRIM   ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  MEDV
0  0.02731  0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14  21.6
1  0.02729  0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03  34.7
2  0.03237  0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94  33.4
3  0.06905  0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33  36.2
4  0.02985  0.0   2.18   0.0  0.458  ...  222.0     18.7  394.12   5.21  28.7

[5 rows x 14 columns]

In [16]:
data.describe()

             CRIM          ZN       INDUS  ...           B       LSTAT        MEDV
count  505.000000  505.000000  505.000000  ...  505.000000  505.000000  451.000000
mean     1.271696   13.285941    9.218812  ...  332.664158   11.550792   23.749889
std      2.400926   23.070598    7.170151  ...  125.414151    6.063900    8.818376
min      0.000000    0.000000    0.000000  ...    0.320000    1.730000    6.300000
25%      0.049810    0.000000    3.440000  ...  364.610000    6.900000   18.500000
50%      0.144760    0.000000    6.960000  ...  390.640000   10.400000   21.900000
75%      0.825260   18.100000   18.100000  ...  395.600000   15.020000   26.600000
max      9.966540  100.000000   27.740000  ...  396.900000   34.410000   50.000000

[8 rows x 14 columns]

In [17]:
data.isnull().sum()

CRIM        0
ZN          0
INDUS       0
CHAS        0
NOX         0
RM          0
AGE         0
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT       0
MEDV       54
dtype: int64

Data cleaning and processing

In [18]:
#Replace missing value with median
# Replace using median
median = data['MEDV'].median()
data['MEDV'].fillna(median, inplace=True)
data.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [19]:
nRow, nCol = data.shape
print(f'There are {nRow} rows and {nCol} columns')

There are 505 rows and 14 columns

In [20]:
nRowsRead = 100 
df1 = pd.read_csv('housing.csv', delimiter=',', nrows = nRowsRead)
df1.dataframeName = 'housing.csv'
nRow, nCol = df1.shape
print(f'There are {nRow} rows and {nCol} columns')

There are 100 rows and 14 columns

In [21]:
df1.replace(0,np.nan).head()

      CRIM  ZN  INDUS  CHAS    NOX  ...  TAX  PTRATIO       B  LSTAT  MEDV
0  0.02731 NaN   7.07   NaN  0.469  ...  242     17.8  396.90   9.14  21.6
1  0.02729 NaN   7.07   NaN  0.469  ...  242     17.8  392.83   4.03  34.7
2  0.03237 NaN   2.18   NaN  0.458  ...  222     18.7  394.63   2.94  33.4
3  0.06905 NaN   2.18   NaN  0.458  ...  222     18.7  396.90   5.33  36.2
4  0.02985 NaN   2.18   NaN  0.458  ...  222     18.7  394.12   5.21  28.7

[5 rows x 14 columns]

Data Visualization

In [22]:
df2=df1
df2.drop('CHAS', inplace=True, axis=1)
df2.head()

      CRIM   ZN  INDUS    NOX     RM  ...  TAX  PTRATIO       B  LSTAT  MEDV
0  0.02731  0.0   7.07  0.469  6.421  ...  242     17.8  396.90   9.14  21.6
1  0.02729  0.0   7.07  0.469  7.185  ...  242     17.8  392.83   4.03  34.7
2  0.03237  0.0   2.18  0.458  6.998  ...  222     18.7  394.63   2.94  33.4
3  0.06905  0.0   2.18  0.458  7.147  ...  222     18.7  396.90   5.33  36.2
4  0.02985  0.0   2.18  0.458  6.430  ...  222     18.7  394.12   5.21  28.7

[5 rows x 13 columns]